@model List<CQRSProject.CQRSPattern.Results.ContactResults.GetContactQueryResult>
@{ ViewData["Title"] = "İletişim Mesajları"; }

<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">İletişim Mesajları</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ad Soyad</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">E-posta</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Konu</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><div class="d-flex px-2 py-1"><h6 class="mb-0 text-sm">@item.Name</h6></div></td>
                                    <td><p class="text-xs text-secondary mb-0">@item.Email</p></td>
                                    <td><p class="text-xs font-weight-bold mb-0">@item.Subject</p></td>
                                    <td class="align-middle text-center">
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info mb-0"><i class="material-icons text-sm">visibility</i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
